h1#title{
    margin: 80px 0 0 30px;
    text-align: center;
}

div#main-content {
    width: 50%;
    margin: 3% 25%;
}

div#main-content > table > thead > tr > th,
div#main-content > table > tbody > tr > td {
    text-align: center;
}